*, *::before, *::after {
    box-sizing: border-box;    
}


html, body {
    margin: 0;
    padding: 0;
    background-color: black;
}

main{
    height: 550px;
    background-color: white;
    width: 550px;
    margin: 50px auto;
}

.top-section{
    height: 90px;
    padding: 15px 25px;
    display: flex;
    align-items: center;
    gap: 13px;
    justify-content: space-between;
}

.color-selector, 
.color-scheme,
.btn{
    height: 42px;
}

.color-selector{
    width: 61px;
}

.color-scheme{
    border-radius: 6px;
    padding-left: 13px;
    width: 312px;
}

.btn{
    white-space: nowrap;
    border-radius: 4px;    
}

.color-scheme, .btn{
    border: 1px solid gray;
    box-shadow: 0px 1px 2px 0px #0000000D;
    background-color: white;
}

.bottom-section{
    width: 100%;
    height: 460px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);

}

.color-container{
    text-align: center;
    display: grid;
    grid-template-rows: 1fr auto;    
}


.color-container > p{
   padding: 12px 0;
   margin: 0;
} 








